<!-- Домашняя страница-->
{% extends "base_generic.html" %}
{% block content %}
  <h1>Главная страница</h1>
  <p>
    Приветствуем Вас на сайте удалённой библиотеки <em>Book Paradise</em><br/>
    Здесь можно найти книги и журналы различной тематики и на разных языках мира.
  </p>
  <h2>Динамический контент</h2>
  <p>База данных сайта Book Paradise содержит следующее количество записей:</p>
  <ul>
    <li><strong>Количество книг: </strong> {{ num_books }}</li>
    <li><strong>Количество экземпляров книг: </strong> {{ num_instances }}</li>
    <li><strong>Количество экземпляров книг в заказе: </strong> {{ num_instances_available }}</li>
    <li><strong>Количество авторов книг: </strong> {{ num_authors }}</li>
  </ul>
  <p>Количество посещений данной страницы - {{ num_visits }}</p>
{% endblock %}
