<!-- Шаблон страницы сброса пароля -->
{% extends "base_generic.html" %}
{% block content %}
    <form action="" method="post">
        <fieldset>
            {% csrf_token %}
            {% if form.email.errors %}
                <p style="color: turquoise">{{ form.email.errors }}</p>
            {% endif %}
            <label>Введите ваш e-mail:</label><br/>
            <p>{{ form.email }}</p>
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Сброс пароля"/>
    </form>
{% endblock %}
