<!-- Шаблон страницы со списком авторов книг -->
{% extends "base_generic.html" %}
{% block content %}
    <h1>Список авторов в БД</h1>
    {% if author_list %}
        <table>
            <thead><th>Id</th><th>Имя</th><th>Фамилия</th><th>Дата рождения</th><th>Дата смерти</th></thead>
            {% for author in author_list.all %}
                <tr>
                    <td width="30" height="32">{{ author.id }}</td>
                    <td width="130">{{ author.first_name }}</td>
                    <td width="130">{{ author.last_name }}</td>
                    <td width="150">{{ author.date_of_birth }}</td>
                    <td width="150">{{ author.date_of_death }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
      <p>В базе данных нет авторов</p>
    {% endif %}
{% endblock %}
